@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap");

:root {
  --primary-font: "Prompt", Helvetica, sans-serif;
  --base-font-size: 16px;
  --primary-color: #d3e4e4;
  --secondary-color: #77a6b6;
  --white-color: #ffffff;
  --black-color: #000000;
  --red-color: #ff5942;
  --black-int-color: 0, 0, 0;
}

* {
  padding: 0;
  margin: 0;
  font-size: var(--base-font-size);
  font-family: var(--primary-font);
  box-sizing: border-box;
  list-style: none;
}

img {
  max-width: 100%;
}

img {
  max-width: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
}
